@layer utilities {
    .link {
        @apply underline transition-colors duration-200 text-blue-900 hover:text-blue-700;
    }

    a:focus-visible {
        outline: none;
    }

    @media (max-width: 900px) {
        .modal-window {
            margin-top: -40rem;
        }
    }
}
